body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.hero-image {
    background-image: url('hero.png'); 
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.cta-buttons {
    margin-top: 20px;
}

.cta-button {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin: 40px 0 20px;
}

.pet-listing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pet {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    height:auto;
}

.apply-button {
    background-color: #28a745;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

